# ==========================================================
# Web Framework & API
# ==========================================================
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

# ==========================================================
# AI & Embedding
# ==========================================================
sentence-transformers==3.0.1
#torch
numpy

# ==========================================================
# Database & Search
# ==========================================================
qdrant-client
pymysql
redis
requests

# ==========================================================
# Data Processing & Finance
# ==========================================================
pandas
pandas-ta
beautifulsoup4
feedparser
yliveticker
websocket-client
yfinance
newspaper3k
lxml_html_clean

# ==========================================================
# Utilities & NLP
# ==========================================================
httpx
python-dotenv
python-Levenshtein
loguru
protobuf
cryptography
langchain-text-splitters
apscheduler
